@model PaymentViewModel
@{
    ViewData["Title"] = "Edit Payment";
}

<div class="container-fluid text-center" style="width: 1000px; text-align: center;">

    <div class="row" style="justify-content: center; align-items: center;">
        <div class="col">
            <h4>Payment Edit</h4>
        </div>
        <div class="col">
            <form id="editForm" method="post" asp-action="Save" style="padding-top: 36px">
                <input class="form-control" type="hidden" asp-for="PaymentForm.Id" />
                <label>Employee ID</label><span asp-validation-for="PaymentForm.EmployeeId" class="text-danger"></span>
                <input class="form-control" type="text" asp-for="PaymentForm.EmployeeId" />
                <br />
                <label>Payment Type</label><span asp-validation-for="StringPaymentType" class="text-danger"></span>
                <select class="form-control custom-select" asp-for="StringPaymentType">
                    <option disabled selected></option>
                    @foreach (string paymentType in Model.PaymentTypes)
                    {
                        <option>@paymentType</option>
                    }
                </select><br />
                <br />
                <label>Amount</label><span asp-validation-for="StringAmount" class="text-danger"></span>
                <input class="form-control" type="text" asp-for="StringAmount" />
                <br />
                <label>Note (optional)</label><span asp-validation-for="PaymentForm.Note" class="text-danger"></span>
                <textarea class="form-control" rows="4" type="text" asp-for="PaymentForm.Note"></textarea>
                <br />
                <br />
                <button type="submit" class="btn btn-warning btn-block" onclick="if ($('#editForm').valid()) { return confirm('Are you sure you want to make changes to this record?'); }"><i class="fas fa-file-invoice-dollar"></i>&nbsp;&nbsp;&nbsp;Submit Changes</button>
            </form>
            <form method="post" style="padding-top: 10px">
                <button class="btn btn-secondary btn-block" asp-action="Details" asp-route-id="@Model.PaymentForm.Id"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Back To Details</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
